.button {
    background: transparent;
    color: var(--vt-color-white);
    border: 1px solid var(--vt-color-white);
    padding: 1em;
    cursor: pointer;
}

.button:hover,
.button--state-active{
    background: var(--vt-color-white);
    color: var(--vt-color-black);
}

.button:active,
.button:focus{
    outline: none;
}