:root {
  --vt-color-white: rgba(255,255,255,0.75);
  --vt-color-black: rgba(0,0,0,1);
  --vt-color-grey: rgba(255,255,255,0.3);
  --vt-color-grey-superlight: rgba(255,255,255,0.05);
  --vt-color-transparent: rgba(0,0,0,0);
  --vt-sidebar-opacity: 0.25;
  --vt-sidebar-filter-blur: blur(4px);
  --vt-animation-speed: 300ms;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  cursor: none;
}

body {
  background: var(--vt-color-black);
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
}

#svg-object {
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow: visible;
  pointer-events: none;
}

.right {
  flex: 0 1 20%;
  padding: 50px;
  background: var(--vt-color-grey-superlight);
  border-left: 2px solid var(--vt-color-grey);
  color: var(--vt-color-white);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
  opacity: var(--vt-sidebar-opacity);
  filter: var(--vt-sidebar-filter-blur);
  transition: filter var(--vt-animation-speed) ease-out, opacity var(--vt-animation-speed) ease-out;
  overflow-y: auto;
}

.right--fullopacity,
.right:hover {
  opacity: 1;
  filter: none;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 {
  font-size: 18px;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 16px;
  margin: 0.5em 0;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  margin-left: 1.25em;
}

li {
  padding-bottom: 0.5em;
}

.button {
  background: transparent;
  color: var(--vt-color-white);
  border: 1px solid var(--vt-color-white);
  padding: 1em;
  cursor: pointer;
}

.button:hover,
.button--state-active{
  background: var(--vt-color-white);
  color: var(--vt-color-black);
}

.button:active,
.button:focus{
  outline: none;
}

.settings {
  margin: 2em 0;
}

.settings__label {
  display: block;
  margin: 1em 0 0.5em 0;
}

.settings__checkbox,
.settings__radio-option {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
}

.settings__checkbox-input,
.settings__radio-input{
  margin-right: 0.5em;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.settings__checkbox-label {
  cursor: pointer;
}

.settings__description {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.settings__color-intensity {
  margin-bottom: 1em;
  cursor: ew-resize;
  width: 100%;
}
