* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  cursor: none;
}

body {
  background: var(--vt-color-black);
  color: var(--vt-color-white);
}

body.theme-bright {
  background: var(--vt-color-white);
  color: var(--vt-color-black);
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
}
